@CHARSET "UTF-8";

#main {
	width: 980;
	margin: 0 auto;
}

#header {
	text-align: center;
}

#tableDiv {
	width: 980;
	margin: 0 auto;
}
*{
	padding: 0;
	margin: 0;
}
#stuTable td{
	border: 1px solid gray;
	text-align: center;
	width: 100px;
}