<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"

	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	">
	<!-- 配置数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url" value="jdbc:mysql://localhost:3306/root"></property>
		<property name="username" value="root"></property>
		<property name="password" value="1243093769llc"></property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
	</bean>
	<!-- 配置hibernate的sessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>entity/Studentsystem.hbm.xml</value>
			</list>
		</property>
	</bean>

	<!-- 具体的action -->
	<bean id="Manager" class="action.StudentMSGManager" scope="prototype">
		<property name="service" ref="baseService"></property>
		<property name="page" ref="page"></property>
		<property name="studentsystem" ref="Studentsystem"></property>
	</bean>
	<!-- 基础服务层 -->
	<bean id="baseService" class="service.impl.BaseServiceImpl" scope="prototype">
		<property name="dao" ref="baseDao"></property>
	</bean>
	<!-- 基本dao层，可完成大部分增删改查工作 -->
	<bean id="baseDao" class="dao.impl.BaseDaoImpl" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 实体类 -->
	<bean id="Studentsystem" class="entity.Studentsystem" scope="prototype"></bean>
	<!-- 分页查询工具类 -->
	<bean id="page" class="util.Page"></bean>
	
	
</beans>